/* Основные стили для всего документа */
body {
    font-family: Tahoma, sans-serif; /* Устанавливаем шрифт Tahoma или аналогичный без засечек */
    margin: 0; /* Убираем внешние отступы у body */
    padding: 0; /* Убираем внутренние отступы у body */
    color: rgb(235, 235, 235); /* Цвет текста (темно-серый) */
    background-color: rgb(15, 15, 15); /* Фон страницы (темно-серый) */
    background-color: rgb(7, 7, 7); /* Фон страницы (темно-серый) */
    user-select: none; /* Запрещаем выделение текста и объектов на странице */
}

/* Стили для модальных окон */
.modal-balance {
    display: none; /* По умолчанию модальные окна скрыты */
    position: fixed; /* Фиксированное позиционирование */
  /*  z-index: 1;  Выше всех других элементов */
    left: 0;
    width: 33%; /* Ширина модального окна */
    overflow: auto; /* Включаем прокрутку, если содержимое не помещается */
    user-select: none; /* Запрещаем выделение текста и объектов на странице */
}
.modal-container {
    display: flex; /* Используем Flexbox для размещения модальных окон в одной строке */
    min-width: 20%; /* Минимальная ширина контейнера */
    position: center; /* Добавляем относительное позиционирование для корректного расположения модальных окон */
    left: 0;
    margin: 5% auto; /* Отступ сверху и авто-центрирование по горизонтали */
    width: 90%; /* Ширина содержимого модального окна */
    font-size: 1em; /* Текст в модальном окне будет иметь тот же размер, что и основной текст на странице */
}

.modal {
    display: block; /* Используем Flexbox для размещения содержимого модального окна */
    flex-direction: column; /* Содержимое модального окна располагается в колонку */
    align-items: center; /* Центрируем содержимое модального окна по горизонтали */
    justify-content: center; /* Центрируем содержимое модального окна по вертикали */
    width: 80%; /* Задаем фиксированную ширину для модального окна */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень для модального окна */
    border-radius: 15px; /* Скругляем углы модального окна */
    text-align: center;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.fixed-top {
    top: 5%; /* Закрепляем сверху */
    display: block; /* Делаем видимым по умолчанию */
}

.fixed-bottom {
    top: 20%; /* Закрепляем сверху */
    display: block; /* Делаем видимым по умолчанию */
}

/* Стили для содержимого модального окна */
.modal-content {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 5% auto; /* Отступ сверху и авто-центрирование по горизонтали */
    border: 1px solid rgb(135, 135, 135); /* Светлая граница */
    padding: 1%; /* Внутренние отступы */
    width: 80%; /* Ширина содержимого модального окна */
    border-radius: 15px; /* Скругляем углы */
}
/* Отступы внутри бокса*/
.text-balance{
    padding: 2%;
}
.modal-content-task {
    background: linear-gradient(-45deg,#23a6d5, #23c1bd);
    background-size: 100% 100%;
    animation: gradient 15s ease infinite;
    margin: 1% auto; /* Отступ сверху и авто-центрирование по горизонтали */
    border: 1px solid rgb(135, 135, 135); /* Светлая граница */
    width: 80%; /* Ширина содержимого модального окна */
    border-radius: 15px; /* Скругляем углы */
    
}

.modal-content-minig {
    background: linear-gradient(-45deg, #23a6d5,#23c1bd);
    background-size: 100% 100%;
    animation: gradient 15s ease infinite;
    margin: 1% auto; /* Отступ сверху и авто-центрирование по горизонтали */
    border: 1px solid rgb(135, 135, 135); /* Светлая граница */
    width: 80%; /* Ширина содержимого модального окна */
    border-radius: 15px; /* Скругляем углы */
}

.modal-content-friend {
    background: linear-gradient(-45deg, #23a6d5, #23c1bd);
    background-size: 100% 100%;
    animation: gradient 15s ease infinite;
    margin: 1% auto; /* Отступ сверху и авто-центрирование по горизонтали */
    border: 1px solid rgb(135, 135, 135); /* Светлая граница */
    width: 80%; /* Ширина содержимого модального окна */
    border-radius: 15px; /* Скругляем углы */
}
.modal:hover {
    background-color: rgb(37, 37, 37); /* Фон кнопок (темно-серый) */
}

/* Стили для кнопки закрытия */
.close {
    color: rgb(169, 169, 169); /* Цвет текста кнопки закрытия (светло-серый) */
    float: right; /* Выравниваем кнопку справа */
    font-size: 28px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    padding: 1%;
}

.name-modal{
    padding: 5%; /* Внутренние отступы  вкладок*/
    justify-content: center;
    width: 90%; /* Ширина содержимого модального окна */
}

/* Стили для кнопки закрытия при наведении и фокусе */
.close:hover,
.close:focus {
    color: rgb(0, 0, 0); /* Цвет текста кнопки при наведении или фокусе (черный) */
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer; /* Изменяем указатель мыши */
}

/* Стили для контейнера, который содержит кнопки навигации */
.container {
    display: fixed; /* Используем Flexbox для расположения элементов */
    flex-direction: column; /* Элементы располагаются в колонку */
    align-items: center; /* Центрируем элементы по горизонтали */
}

/* Стили для списка навигации */
nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    display: flex; /* Flexbox для выравнивания кнопок */
    justify-content: center; /* Центрируем элементы списка */
    align-items: center; /* Центрируем по вертикали */
    width: 100%; /* Ширина списка */
}

/* Стили для элементов списка навигации */
nav ul li {
    margin: 0 10px; /* Отступы между элементами списка */
}

/* Стили для кнопок внутри списка навигации */
nav ul li button {
    color: rgb(255, 255, 255); /* Цвет текста кнопок (белый) */
    background-color: rgb(37, 37, 37); /* Фон кнопок (темно-серый) */
    padding: 10px 20px; /* Внутренние отступы */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругляем углы */
    transition: background-color 0.3s ease; /* Плавное изменение фона */
    cursor: pointer; /* Изменяем указатель мыши */
    margin: 5px 0; /* Добавляем отступы между кнопками */
    outline: none; /* Убираем контур при фокусе */
    -webkit-tap-highlight-color: transparent; /* Убираем подсветку на мобильных устройствах */
}

/* Стили для кнопок при наведении */
nav ul li button:hover {
    background-color: #23a6d5; /* Фон кнопок при наведении (темно-серый) */
}

/* Медиа-запрос для адаптивности на мобильных устройствах */
@media (max-width: 768px) {
    .modal-content {
        width: 80%; /* 80%; Увеличиваем ширину модального окна на мобильных устройствах */
        margin: 5% auto; /* 10% Уменьшаем отступ сверху для лучшего отображения на мобильных устройствах */
        font-size: 1.2em; /* Увеличиваем размер текста на мобильных устройствах */
        padding: 3%; /* Уменьшаем отступы на мобильных устройствах */
    }
    .container {
        width: 80%; /* Увеличиваем ширину модального окна на мобильных устройствах */
    }

    nav ul {
        flex-direction: row; /* Располагаем кнопки в строку на мобильных устройствах */
        align-items: center; /* Центрируем кнопки по вертикали */
        width: 80%; /* Увеличиваем ширину модального окна на мобильных устройствах */
    }

    nav ul li {
        margin: 5%; /* Устанавливаем отступы между кнопками на мобильных устройствах */
        width: 80%; /* Увеличиваем ширину модального окна на мобильных устройствах */
    }
}
